<div class="row">
    <div class="span12">
        <h3>Add Q&amp;A Question</h3>
        <hr>
        <form id="question-form">
            <fieldset>
                <div class="row">
                    <div class="span7">

                        <label for="question">Question</label>
                        <textarea ng-model="question.question" name="question" id="question" class="span6"></textarea>
                        <span class="field-validation-error">{{question.errors['question']}}</span>


                        <label for="question">Question Type</label>
                        <multi-choice-toggle>

                            <div id="single-answer-block">
                                <label for="answer">Answer</label>
                                <input ng-model="question.answer"  type="text" name="answer" id="answer" class="span4" placeholder="Enter Answer">
                                <span class="field-validation-error">{{question.errors['answer']}}</span>
                            </div>

                            <div id="multi-choice-block">
                                <label for="answer">Answer A</label>
                                <input ng-model="question.answer_a"  type="text" name="answer_a" id="answer_a" class="span4" placeholder="Enter Answer A">
                                <span class="field-validation-error">{{question.errors['answer_a']}}</span>

                                <label for="answer">Answer B</label>
                                <input ng-model="question.answer_b"  type="text" name="answer_b" id="answer_b" class="span4" placeholder="Enter Answer B">
                                <span class="field-validation-error">{{question.errors['answer_b']}}</span>

                                <label for="answer">Answer C</label>
                                <input ng-model="question.answer_c"  type="text" name="answer_c" id="answer_c" class="span4" placeholder="Enter Answer C">
                                <span class="field-validation-error">{{question.errors['answer_c']}}</span>

                                <label for="answer">Correct Answer</label>

                                <select ng-model="question.correct_answer">
                                    <option>Answer A</option>
                                    <option>Answer B</option>
                                    <option>Answer C</option>
                                </select>
                                <span class="field-validation-error">{{question.errors['correct_answer']}}</span>
                            </div>

                        </multi-choice-toggle>

                        <label for="extra-info">Extra Information</label>
                        <input ng-model="question.extra_info"  type="text" name="extra-info" class="span6" id="extra-info" placeholder="Enter extra infomtaion for host">
                        <span class="field-validation-error">{{question.errors['extra_info']}}</span>

                        <label for="ref1">Writer Reference 1</label>
                        <input ng-model="question.writer_reference_1"  type="text" name="reference" class="span6" id="ref1" placeholder="Enter Reference" >
                        <span class="field-validation-error">{{question.errors['writer_reference_1']}}</span>

                        <label for="ref2">Writer Reference 2</label>
                        <input ng-model="question.writer_reference_2" type="text" name="reference" class="span6" id="ref2" placeholder="Enter Reference" >
                        <span class="field-validation-error">{{question.errors['writer_reference_2']}}</span>

                        <div class="red-boarder">
                            <label for="ref3">Verifier Reference 1</label>
                            <input ng-model="question.verifier_reference_1" type="text" name="reference" class="span6" id="ref3" placeholder="Enter Reference" >
                            <span class="field-validation-error">{{question.errors['verifier_reference_1']}}</span>

                            <label for="ref4">Verifier Reference 2</label>
                            <input ng-model="question.verifier_reference_2" type="text" name="reference" class="span6" id="ref4" placeholder="Enter Reference" >
                            <span class="field-validation-error">{{question.errors['verifier_reference_2']}}</span>
                        </div>


                        <label for="question">Notes</label>
                        <textarea ng-model="question.notes" name="question" id="question" class="span6"></textarea>
                        <span class="field-validation-error">{{question.errors['notes']}}</span>


                    </div>

                    <div class="span4">

                        <label for="writer" class="align-label">Writer</label>
                        <select ng-model="question.writer_id"
                                ng-options="w.writer_id as w.name for w in writers"
                                ng-change="search()"
                                class="span3">
                        </select>
                        <span class="field-validation-error">{{question.errors['writer_id']}}</span>

                        <label for="b-id" class="align-label">Batch Tag</label>
                        <input ng-model="question.batch_tag" type="text" name="b-id" class="span2" id="q-id" placeholder="Enter Batch Tag">
                        <span class="field-validation-error">{{question.errors['batch_tag']}}</span>

                        <label for="difficulty" class="align-label">Difficulty</label>
                        <select ng-model="question.difficulty_id"
                                ng-options="d.difficulty_id as d.name for d in difficulties"
                                ng-change="search()"
                                class="span3">
                        </select>

                        <span class="field-validation-error">{{question.errors['difficulty_id']}}</span>

                        <label for="category" class="align-label">Category</label>
                        <select ng-model="question.category_id"
                                ng-options="c.category_id as c.name for c in categories"
                                ng-change="search()"
                                class="span3">
                        </select>
                        <span class="field-validation-error">{{question.errors['category_id']}}</span>

                        <div class="clear"></div>

                        <div id="q-admin" class="red-boarder">
                            <legend>Administrator</legend>
                            <label for="verified" class="align-label inline">
                                <input ng-model="question.verified" type="checkbox" name="verified" id="verified">
                                Verified
                            </label>

                            <select ng-model="question.producer_id" name="producer">
                                <option value="1">Producer</option>
                                <option value="2">Rob Menzies</option>
                                <option value="3">Graeme Rickerby</option>
                                <option value="4">Riima Daher</option>
                            </select>

                            <label for="used" class="align-label inline">
                                <input ng-model="question.used" type="checkbox" name="used" id="used">
                                Used
                            </label>

                        </div>

                        <div class="form-actions pull-left">
                            <button id="save-question" class="btn btn-primary" ng-click="saveQuestion()">Submit</button>
                            <button class="btn">Cancel</button>
                        </div>

                    </div>

                </div>
            </fieldset>
        </form>
    </div>
</div>