<!-- Main hero unit for a primary marketing message or call to action -->

<h3>Create Episode</h3>
<hr>
  <ng-include src="'views/episodes/new_form.html'"></ng-include>
<hr>

<div class="row">

    <div class="span12">

        <div class="tabbable tabs-top">

            <tabset>

                <tab ng-repeat="round in episode.rounds" heading="{{round.name}}" active="round.active" disabled="round.disabled">

                    <div class="tab-content">

                        <div class="tab-pane active" id="R1">

                            <ng-include src="'views/episodes/questions_table.html'"></ng-include>

                            <ng-include src="'views/episodes/spares_table.html'"></ng-include>

                        </div>

                </tab>

            </tabset>

        </div>

    </div>

</div>
