<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Category</th>
        <th>Difficulty</th>
        <th>Used</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="question in round.questions">

        <td> {{ question.id }}</td>

        <td>
            <input type="text" name="question-id" placeholder="ID" class="span1"
              ng-model="replacementQuestions[question.id]"
              ng-change="replaceQuestion(question.id)"
              popover="{{ idSearchResult | questionSummaryFilter }}"
              popover-trigger="focus">
        </td>

        <td>{{ question.question }}</td>

        <td><answer-show></answer-show></td>


        <td>
            <select ng-model="question.category_id"
                    ng-options="c.category_id as c.name for c in categories"
                    ng-change="search()"
                    class="span3">
            </select>
        </td>
        <td>
            <select ng-model="question.difficulty_id"
                    ng-options="d.difficulty_id as d.name for d in difficulties"
                    ng-change="search()"
                    class="span2">
            </select>
        </td>
        <td><input type="checkbox" name="used"
                   ng-model="question.used"></td>
        <td><button type="button" class="btn btn-primary btn-small">Renew</button></td>

    </tr>

    </tbody>
</table>