<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <style>
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    </style>
   
    <link rel="stylesheet" href="styles/bootstrap-responsive.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="questionApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <navigation></navigation>


    <div class="row">
        <div class="span4"></div>
        <div class="span2">
            <div ng-controller="HeaderCtrl">
                {{ title }}
                <br />
            </div>
        </div>
        <div class="span2">
            <ng-include src="'views/shared/loading_element.html'"></ng-include>
        </div>
    </div>

    <!-- Add your site or application content here -->


    <div class="container" ng-view></div>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/lodash/lodash.js"></script>
    <script src="components/angular-all-unstable/angular.js"></script>
    <script src="components/angular-all-unstable/angular-resource.js"></script>
    <script src="components/angular-all-unstable/angular-cookies.js"></script>
    <script src="components/angular-all-unstable/angular-sanitize.js"></script>

    <script src="components/bootstrap/js/bootstrap-affix.js"></script>
    <script src="components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="components/bootstrap/js/bootstrap-button.js"></script>
    <script src="components/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="components/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="components/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="components/bootstrap/js/bootstrap-modal.js"></script>
    <script src="components/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="components/bootstrap/js/bootstrap-tab.js"></script>
    <script src="components/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="components/bootstrap/js/bootstrap-transition.js"></script>
    <script src="components/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="components/bootstrap/js/bootstrap-popover.js"></script>

    <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
    <!-- build:js scripts/scripts.js -->

    <script src="scripts/services/shared_services.js"></script>
    <script src="scripts/services/loading_status.js"></script>
    <script src="scripts/services/app_interceptors.js"></script>
    <script src="scripts/app.js"></script>

    <script src="scripts/services/configurator_service.js"></script>
    <script src="scripts/services/question.js"></script>
    <script src="scripts/services/form_metadata.js"></script>

    <script src="scripts/directives/question.js"></script>
    <script src="scripts/directives/navigation.js"></script>

    <script src="scripts/controllers/login_ctrl.js"></script>
    <script src="scripts/controllers/dashboard_ctrl.js"></script>

    <script src="scripts/controllers/questions_ctrl.js"></script>
    <script src="scripts/controllers/new_question_form_ctrl.js"></script>
    <script src="scripts/controllers/edit_question_form_ctrl.js"></script>
    <script src="scripts/app_routes.js"></script>

    <script src="scripts/filters/question_rest_cleaner.js"></script>
    <script src="scripts/services/user_auth.js"></script>
    <script src="scripts/services/new_question.js"></script>
    <script src="scripts/directives/multi_choice_toggle.js"></script>
    <script src="scripts/controllers/episodes_ctrl.js"></script>
    <script src="scripts/filters/multi_answers_list.js"></script>
    <script src="scripts/services/episode.js"></script>
    <script src="scripts/directives/category_select.js"></script>
    <script src="scripts/filters/decorate_rounds.js"></script>
    <script src="scripts/directives/answer_show.js"></script>
    <script src="scripts/directives/replace_question_id_input.js"></script>
    <script src="scripts/filters/prune_search_query.js"></script>
    <script src="scripts/controllers/header_ctrl.js"></script>
    <!-- endbuild -->

  </body>
</html>
